.container {
  display: table;
  margin: 100px auto;
  width: 38vw;
}
footer a {
  text-decoration-line: none;
  color: cadetblue;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)),
    url("images/third-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: aliceblue;
  padding: 1.5vw;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
  font-size: 1.5em;
}
main {
  background-color: white;
  padding-top: 28px;
  padding-bottom: 30px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  margin-top: 20px;
}

main input {
  width: 20vw;
  padding: 5px 0;
  border-radius: 5px;
  border: 1px solid lightgray;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.btn-search {
  width: 5vw;
  margin-left: 5px;
  background-color: cadetblue;
  color: #f8f6fc;
}
main p {
  font-size: 1em;
  line-height: 1.5;
  font-family: Georgia, "Times New Roman", Times, serif;
}
body {
  background-color: #f8f6fc;
}
footer {
  margin-top: 1.5vw;
  font-size: 1em;
  text-align: center;
}
.word-input {
  padding: 15px;
}
#poem p {
  padding: 0 3vw;
  text-align: center;
}
.poem {
  margin-top: 3vw;
  margin-bottom: 10px;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
.blink {
  animation: blink 1.5s step-start 0s infinite;
}
